* {box-sizing:border-box}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: Barlow Condensed;
  src: url(https://fonts.googleapis.com/css?family=Nunito+Sans:400);
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Barlow Condensed;
  src: url(https://fonts.googleapis.com/css?family=Nunito+Sans:700);
  font-style: bold;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
.mobile-visible {
  display: none;
}
body {
  font-family: 'Barlow Condensed', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #3d3d3f;
  text-transform: none;
  font-synthesis: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  text-rendering: optimizeLegibility;
  height: 100vh;
}
@media screen and (max-width: 1020px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 780px) {
  .mobile-visible {
    display: block;
  }
  .desktop-visible {
    display: none;
  }
  body {
    font-size: 20px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  width: calc(100% - 2vw);
  padding: 0 0 0 2vw;
}
header.no-padding {
  padding: 0;
}
@media screen and (max-width: 780px) {
  header.no-flex {
    display: block;
    height: auto !important;
  }
  header {
    width: calc(100% - 6vw - 6vw);
    padding: 0 6vw;
  }
}
@media screen and (max-width: 960px) {
  header {
    height: 100px;
  }
}

.subtitle {
font-size: 1.1rem
}

div.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  opacity: 1;
  transition: all 0.8s cubic-bezier(0.19, 0.95, 0.67, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.19, 0.95, 0.67, 1);
  -moz-transition: all 0.8s cubic-bezier(0.19, 0.95, 0.67, 1);
}

div.left {
  position: fixed;
  width: 65%;
  height: 100vh;
  top: 0;
  left: 0;
}
@media screen and (max-width: 780px) {
  div.main {
    display: block;
  }
  div.headline {
    margin-top: 40px;
  }
  div.left {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
}
div.right {
  position: absolute;
  width: calc(35% - 2vw - 2vw);
  height: auto;
  top: 0;
  padding-left: 2vw;
  right: 2vw;
  background-color: f9f8fd;
}
@media screen and (max-width: 780px) {
  div.right {
    top: calc(50vh + 75px);
    width: calc(100% - 6vw - 6vw);
    padding: 0 6vw;
    right: 0;
    left: 0;
  }
}

/* MOVIE */

#snwmovie{
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: auto; 
  /* transform: translate(-50%,-50%); */
  /* -ms-transform: translate(-50%,-50%); */
}

button.unmute {
  width: 25;
  height: 22;
  border: none;
  background-color: #f9f8fd
  align= left;
}

/* SLIDES */

div.projects-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 140px);
}
@media screen and (max-width: 960px) {
  div.projects-wrapper {
    height: calc(100% - 100px);
  }
}
@media screen and (max-width: 780px) {
  div.projects-wrapper {
    height: 50vh;
  }
}

/* Hide the images by default 
.mySlides {
  display: none;
}
*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #f6f5f3;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position ">" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: #3d3d3f;
}

div.slide-index-wrapper {
  position: absolute;
  margin-left: 2vw;
  top: 36px;
  /* bottom: 40px; */
  left: 0;
  z-index: 70;
  color: #f9f8fd;
}
.caption {
  padding: 8px 12px;
  position: absolute;
  /* bottom: 36px; */
  top: 30px;
  width: 100%;
  text-align: center;
  font-size: 1em;
  color: #f9f8fd;
}
@media screen and (max-width: 780px) {
  div.slide-index-wrapper {
    position: absolute;
    margin-left: 6vw;
    top: calc(100% + 24px);
    font-size: 1.1rem;
    font-style: bold;
    font-weight: 700;
    left: 0;
  }
  .caption {
    padding: 8px 12px;
    position: absolute;
    /* bottom: -52px; */
    top: 383px;
    color: #f9f8fd;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    font-style: bold;
    font-weight: 700;
  }
}
div.section-links {
  display: flex;
  margin: 80px 0 0;
}
@media screen and (max-width: 1020px) {
  div.section-links {
    margin: 65px 0 0;
  }
}
div.section-links a {
  margin-right: 5px;
}
.name {
  font-size: 20px;
  margin: 0px 0px 0px 20px;
}

div.section-contact {
  margin: 10px 0 40px;
}
@media screen and (max-width: 1020px) {
  div.section-contact {
    margin: 15px 0 50px 46px;
  }
}
div.section-contact a {
  margin-right: 20px;
  font-size: 14px;
}
@media screen and (max-width: 960px) {
  div.section-contact a {
    display: block;
    margin-right: 0;
    font-size: 20px;
    color: #3d3d3f;
  }
}

.name {
  font-size: 20px;
  color: #3d3d3f;
}

h2.desktop-visible  {
  color: #f9f8fd;
  background: #3d3d3f;
  padding: 40px 9px 7px;
}

h1.mobile-visible {
  z-index: 70;
  position: absolute;
  transform: translateX(-15px);
  color: #f9f8fd;
  background: #3d3d3f;
  padding: 7px 9px;
}

h6 {
  z-index: 70;
  position: absolute;
}

a.square-link:before {
  content: "";
  width: 8px;
  height: 8px;
}
h1.mobile-visible {
  top: 2vw;
  left: 6vw;
}
h1::selection {
  background: #7dce94;
}

a,
h6 {
  color: rgb(143, 133, 133);
}
h2.slide-index {
  display: inline-block;
}
h2::selection {
  background: #7dce94;
}
h2.slide-index:before {
  display: inline-block;
  margin-right: 12px;
  transform: translateY(-1px);
}
h3 {
  font-size: 12px;
  color: #848484;
  text-transform: uppercase;
  margin: 50px 0 20px;
}
h3::selection {
  background: #7dce94;
}
h6 {
  font-size: 14px;
  bottom: 5px;
}
h6::selection {
  background: #7dce94;
}
@media screen and (max-width: 1020px) {
  h3 {
    margin: 40px 0 16px;
  }
  h6 {
    font-size: 12px;
  }
}
h6.mobile-visible {
  display: none;
}
@media screen and (max-width: 780px) {
  h6.desktop-visible {
    display: none;
  }
  h6.mobile-visible {
    display: block;
    position: initial;
    font-size: 14px;
    color: #000;
    z-index: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: none;
    margin: 80px 0 20px;
  }
}

a.square-link {
  position: relative;
}
a {
  transition: color 0.45s;
  -webkit-transition: color 0.45s;
  -moz-transition: color 0.45s;
}
a.square-link:hover,
a.description-link:hover {
  color: #7dce94;
}
a::selection {
  background: #7dce94;
}
a.preview-snw.mobile-visible {
  display: none;
}
@media screen and (max-width: 780px) {
  a.preview-snw.desktop-visible {
    display: none;
  }
  a.preview-snw.mobile-visible {
    display: block;
    margin: 40px 0 0;
  }

}
a.square-link:before {
  display: inline-block;
  background-color: #000;
  margin-right: 12px;
  transform: translateY(-1px);
  transition: all 0.45s;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
}
a.square-link:hover:before {
  background-color: #7dce94;
}
a.phone {
  color: #848484;
}

a.email:hover {
  color: #7dce94;
}

a.name:hover {
  font-size: 20px;
  color: #7dce94;
}

div.headline::selection,
li::selection,
p::selection {
  background: #7dce94;
}

